numpy
pandas
matplotlib
seaborn
xgboost
inflection
dython
shap
scikit-learn
imblearn
tensorflow>=2.7.0,<2.8.0   # Update TensorFlow version range as needed
version-control
plotly
iter-tools
