numpy
pandas
matplotlib
seaborn
xgboost
inflection
dython
shap
scikit-learn
imblearn
tensorflow>=2.7.0,<3.0.0   # Adjust TensorFlow version range as needed
version-control
plotly
iter-tools
